*{
	font-family: Arial, sans-serif;
	transition: ease-in-out 0.5s;
}

nav {
	height: 30px;
	display: flex;
	background: rgb(253, 254, 224);
	padding: 20px 20px 30px 20px;
	margin: -10px;
	
}

nav h3{
	margin: auto;
	font-size: 20px;
	span {
		color: yellow;
		font-size: 30px
	}
	
}

nav a{
	position :relative;
	margin: auto ;
	/* visibility: hidden; */
	font-size: 15px;
	i{
	font-size: 20px;
	}
	text-decoration: none;
	color: black;
	
}

nav a .tip{
	position : absolute;
	left: 50%;
	background: #A9A9A9;
	color: #fff;
	padding: 10px;
	border-radius: 7px;
	visibility: hidden;
	opacity: 0;
	transform: translateX(-50%);
	white-space: nowrap;
	transition: opacity 0.5s ease;
}

.tip::before{
	content:"";
	position: absolute;
	left: 50%;
	bottom: 100%;
	transform: translateX(-50%);
	border: 15px solid;
	border-color: #A9A9A900 #A9A9A900 #A9A9A9 #A9A9A900;
}

nav a:hover .tip{
	bottom: -240%;
	visibility: visible;
	opacity: 1;
}

