/* General Reset */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
   transition: 0.5s;
}

/* Body Styling */
body {
    font-family: Arial, sans-serif;
    background-color: rgb(253, 254, 224);
    justify-content: center;
    align-items: center;
    height: auto;

}

/* Login Container */
.login-container {
    margin:auto;
    max-width: 400px;
    padding: 20px;
}

/* Login Box */
.login-box {
    background-color: #fff;
    padding: 20px;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
    border-radius: 8px;
    text-align: center;
    h3{
		margin: 0 auto 10px auto;
	}
}

/* Kodbook Title */
h1 {
    font-size: 35px;
    color: rgb(0, 0, 0);
    text-align: center;
    margin: 5% 0 0 0;
    span{
		color: yellow;
		font-size: 50px;
	}
	
}

.dob{
	display: flex;
	align-items: flex-start;
	margin-bottom: -18px;
	label{
		width: 35%;
		margin: auto;
		text-align: center;
	}
	input{
		width:60%;
	}
	
}

/* Gender */
select {
    width: 100%;
    padding: 12px 10px;
    margin: 10px 0;
    border: 1px solid #ccc;
    border-radius: 6px;
    font-size: 14px;
    
    color: rgb(128, 128, 128);
}
select:focus {
    border: 1px solid rgb(0, 0, 0);
    color: black;
}
/* Gender */


.tagline{
	text-align: center;
	margin: 0; 
}

/* Form Inputs */
form input {
    width: 100%;
    padding: 12px;
    margin: 10px 0;
    border: 1px solid #ccc;
    border-radius: 6px;
    font-size: 14px;
}

/* Login Button */
form .submit {
    width: 100%;
    padding: 12px;
    background-color: rgb(239, 244, 21);
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
    color: rgb(0, 0, 0);
    border: none;
    border-radius: 6px;
    font-size: 16px;
    cursor: pointer;
    margin-top: 10px;
}

form .submit:hover {
    background-color: rgb(180, 187, 34);
    
}

label{
	display: flex;
	flex-direction: row;
}
/* Forgot Password Link */
.forgot-password a {
    display: block;
    margin: 15px 0;
    color: #1877f2;
    font-size: 14px;
    text-decoration: none;
}

.forgot-password a:hover {
    text-decoration: underline;
}

/* Create Account Link */
.create-account a {
    display: inline-block;
    background-color: #42b72a;
    color: white;
    padding: 10px 20px;
    border-radius: 6px;
    font-size: 16px;
    text-decoration: none;
    margin-top: 15px;
}

.create-account a:hover {
    background-color: #36a420;
}

    footer{
		margin: 20vh 0 0 0;
		height: 20vh;
		background-color:  rgb(251, 253, 176);;
	}