<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>KodBook Home</title>
     <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta3/css/all.min.css">
    <link rel="stylesheet" type="text/css" th:href="@{/profile.css}">
    
</head>
<body>

    <!-- Navigation bar -->
    <nav>
        <div class="apptitle">
    	<h3><span>Kod</span>Book</h3>
    </div>
        <a href="/goHome"><i class="fas fa-home"></i> <span class="tip">News feed</span></a>
        <a href="/openCreatePost"><i class="fas fa-plus-circle"></i><span class="tip"> Create post</span></a>
        <a href="/openMyProfile"><i class="fas fa-user-circle"></i><span class="tip"> My profile</span></a>
        <a href="/openEditProfile"><i class="fas fa-edit"></i><span class="tip"> Edit profile</span></a>
        <a href="/"><i class="fa fa-sign-out" aria-hidden="true"></i><span class="tip">Logout</span></a>
    </nav>
	<!-- Navigation bar -->

    <hr>

	<!-- Post -->
    <div class="posts-container">
        <span th:each="post : ${allPosts}">
            <div class="post-card">
                <!-- Profile picture and Username -->
                <div class="post-header">
                    <div class="profile-pic">
                        <img th:if="${post.user.photoBase64}" 
                             th:src="'data:image/jpeg;base64,' + ${post.user.photoBase64}" 
                             alt="User Photo" />
                    </div>
                    <span class="username" th:text="${post.user.username}">Unknown</span>
                </div>

                <!-- Caption -->

                <p class="caption">
                    
                    <span th:text="${post.caption}"></span>
                </p>


                <!-- Post Image -->
                <div class="post-image">
                    <img th:if="${post.photoBase64}" 
                         th:src="'data:image/jpeg;base64,' + ${post.photoBase64}" 
                         alt="Post Photo" />
                </div>

                
                <div class="likesandcomments">
                <div class="likesdisplay">
                <!-- Like form -->
                
                <form action="/likePost" method="post" class="like-form">
                    <input type="hidden" name="id" th:value="${post.id}">
                    <button type="submit" class="likebutton"><i class="fa fa-thumbs-up" aria-hidden="true"></i></button>
                </form>
                <!-- Likes -->
                <p class="likes">
                   
                    <span th:text="${post.likes}"></span>
                </p>
            </div>

                <!-- Comment form -->
                 <div class="addcomment">
                <form action="/addComment" method="post" class="comment-form">
                    <input type="hidden" name="id" th:value="${post.id}">
                    <input type="text" name="comment" placeholder="Add a comment..." required></textarea>
                    <button type="submit" class="commentbutton"><i class="fa-solid fa-arrow-right"></i></button>
                </form>
            </div>
        </div>
            
                <!-- Displaying Comments -->
                <div class="comments-section">
                    <h4>Comments:</h4>
                    <ul>
                        <li th:each="comment : ${post.comments}">
                            <!-- <span class="username" th:text="${post.user.username}">Unknown</span><br> -->
                            <span th:text="${comment}"></span>
                        </li>
                    </ul>
                </div>
            </div>
        </span>
    </div>
    <!-- Post -->
    
</body>
</html>
