<!DOCTYPE html>
<html>

<head>
	<meta charset="UTF-8">
	<title>KodBook Sign up</title>
	<link rel="stylesheet" type="text/css" th:href="@{/styles.css}">
</head>

<body>
	<h1><span>Kod</span>Book</h1>
	<h3 class="tagline">#1 Social media app!</h3>
	<div class="login-container">
		<div class="login-box">
			<form action="/signUp" method="post">
				<h3>Create Account @Kodbook</h3>
				<input type="text" placeholder="Username" name="username" required>
				<br><br>
				<input type="email" placeholder="E-mail" name="email" required>
				<br><br>
				<input type="password" placeholder="Password" name="password" required>
				<br><br>
				<div class="dob">
				<label>Date of Birth :</label>
				<input type="date" name="dob" required>
				</div>
				<br><br>
				<!--				<div class="gender">
				<label>Gender : </label>
				<label>M</label><input type="radio" name="gender" value="M">
				<label>F</label><input type="radio" name="gender" value="F">
				<label>O</label><input type="radio" name="gender" value="O">
				</div>-->

				<select id="gender" name="gender" required>
					<option class="genderholder" value="" disabled selected>Select Gender</option>
					<option value="male">Male</option>
					<option value="female">Female</option>
					<option value="other">Other</option>
				</select>

				<br><br>
				<input class="submit" type="submit" value="SIGN UP">
			</form>
			<div class="forgot-password">
				<a href="/">Already have account? Login instead</a>
			</div>
		</div>
	</div>
	<div style="height: 20%;">
		
	</div>
</body>
<footer>
	
</footer>

</html>